* {
    margin: px;
    padding: 5px;
}

html {
    font-size: 62.5%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F9F3CC;

}

main {
    text-align: center;
    border-top: solid #D7E5CA 1px;
    background-color: #F9F3CC;
}

nav {
    width: 50%;
    font-size: 2rem;
    background-color: black;
}

a {
    color: #6C5939;
    text-decoration: none;
    font-size: 1.5rem;
}

ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mainimg {
    width: 60%;
}

.tamanoimg {
    width: 40rem;
    height: 40rem;
}


article {
    border: solid #D7E5CA 1px;
}

h1,
h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #6c5939;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}



p {
    font-size: 1.5rem;
}

img {
    width: 40rem;
    height: 40rem;
}

ion-icon {
    height: 5rem;
    width: 5rem;
}

/*PAGINA DE GALERIA*/


.conteiner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "area1 area2 area3"
        "area4 area5 area6"
        "area7 area8 area9";

}

.gridarea1 {
    grid-area: area1;

}

.gridarea2 {
    grid-area: area2;
}

.gridarea3 {
    grid-area: area3;
}


.gridarea4 {
    grid-area: area4;
}


.gridarea5 {
    grid-area: area5;
}

.gridarea6 {
    grid-area: area6;
}


.gridarea7 {
    grid-area: area7;
}

.gridarea8 {
    grid-area: area8;
}

.gridarea9 {
    grid-template-columns: area9;
}

.conteinerheader {
    grid-area: header;
}

.conteinermain {
    grid-area: main;
}

.conteinerfooter {
    grid-area: footer;
}

@media(max-width:768px) {

    .conteiner {
        grid-template-columns: repeat(11, 1fr);
        grid-template-rows: repeat(1, 1fr);
        width: 100%;
        grid-template-areas:

            "header"
            "area1"
            "area2"
            "area3"
            "area4"
            "area5"
            "area6"
            "area7"
            "area8"
            "area9"
            "footer";
    }
}


/*PAGINA UBICACION*/

.flexubicacion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}




/*PAGINA CONTACTO*/

.card-img-top {
    height: 15rem;
    width: 16rem;
}


.achicarimg {
    width: 50px;
    height: 50px;
}


.textsize {
    font-size: 2rem;
}


footer {
    border-top: solid #D7E5CA 1px;
    background-color: #D7E5CA;
}

.uldesign {
    display: flex;
    flex-direction: row;
    width: 25%;
    justify-content: left;
    text-align: left;
}

.lidisgnfooter {
    display: flex;
    justify-content: left;
}

.footerstyle {
    color: black;
    font-size: 1rem;
}